/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    margin:0;
    padding:0;

}

body {
    background-color: white;
    margin:0;
    padding:0;
}

h1 {
    font-size: 200%;
}

.my-navbar {
    display: inline-flex;
    list-style-type: none;
    padding: 0px;
}

.rm-navbar {
    text-align: center;
}

.outer-wrap-flash-message {
    text-align: center;
}

.region-header-col-1{
    text-align: center;
}

.site-logo-text a {
    font-size: 500%;
    text-decoration: none;
    color: blue;
}

.site-logo {
    display: none;
}

.rm-default a {
    padding: 10px;
    text-decoration: none;
    font-size: 150%;
    color: orange;
}

.rm-desktop li .rm-submenu-button {
    display: none;
}

.outer-wrap-breadcrumb {
    max-width: 1000px;
    margin: auto;
}

.rm-default a:hover {
    background-color: rgba(210, 210, 210, 0.62);
    color: green;
}

.outer-wrap-header {
    max-width: 1000px;
    margin: 0 auto;
}

.outer-wrap-main {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 120%;
}

.has-sidebar {
    display:inline-block;
}

.has-sidebar-right {
    width: 66%
}

.wrap-sidebar {
    display:inline-block;
    vertical-align:top
}

.region-sidebar-right {
    margin-left: 1px;
    width: 33%;
}

.has-sidebar-left {
    width: 79%;
}

.region-sidebar-left {
    width: 20%;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.region-flash {
    text-align: center;
}

.author-byline {
    border: thin solid rgba(0, 0, 0, .8);
    overflow: auto;
    padding: 15px;
    margin-top: 50px;
}

.author-byline figure {
    margin: 0 10px 0 0;
}

.right {
    float: right;
}

.left {
    float: left;
}
.outer-wrap-footer {
    color: #ddd;
    background-color: rgb(60, 60, 60);
    width: 100%;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: 100px;
}

.footer-column-wrapper {
    margin: auto;
    display: flex;
    width: 1000px;
}

.footer-column {
    width: 33%
}